
@model WebApplication2.Models.ReadCompaniesResponse
@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
    <div class="card-header">
        <span class="open-nav" onclick="openNav()">&#9776;</span>
        <span class="title"> Companies</span>
    </div>
        <div class="flex-card">
            @foreach (var item in Model.Companies)
            {
                    <a class="companies" href="@Url.Action("ReadPolygons", "Company", new { id = item.CompanyID }, null)"
                       title="View Areas">
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </a>

            }
        </div>
