html,
body {
    padding-top: 0px;
    /*background-color: #e3e7ee;*/
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 5px;
    padding-right: 5px;*/
    height: 91%;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mapView {
    height: 100%;
}

.title {
    margin-left: 15px;
}

.card {
    width: 100%;
    border: none;
    background-color: #e3e7ee;
}

    .card.companies {
        background-color: red;
    }
    .card.login {
        width: 100%;
        height: 100%;
        border: none;
        /*background-color: #e3e7ee;*/
        background-color: #555;
        /*margin: 60px auto auto auto;*/
        padding: 60px 0px 0px 0px;
        /*box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);*/
    }

.card-body {
    padding: 0 0 0 0;
    height: 100%;
}


.card-img-top {
    width: 187px;
    height: 119px;
    display: block;
    margin: 10px auto 40px auto;
}

.card-header {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e3e7ee;
    text-transform: uppercase;
    color: #111;
    font-size: 35px;
    margin-top: -19px;
    padding: 15px 0 0 15px;
    width: 100%;
}

.sub-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    color: #626262;
}


.btn-group.left {
    float: right;
}

.btn.right,
.btn-group.right {
    float: right;
    margin: 0 10px 0 30px;
}

.lView,
#mView {
    font-size: 18px;
    background-color: #e3e7ee;
    color: #111;
}

#CreateBtn,
.btn.save,
.btn.discard,
.btn.delete,
.btn.all {
    background-color: #e3e7ee;
    color: #111;
    font-size: 18px;
    border-color: #111;
}
    #CreateBtn:hover,
    .btn.discard:hover,
    #mView:hover,
    .btn.lView:hover,
    .btn.all:hover {
        color: #e3e7ee;
        background-color: #111;
    }
/*.btn.save {
    border-color: #019400;
    color: #000000;
    background-color: #019400;
}*/
    .btn.save:hover {
        background-color: #32be1d;
        color: #e3e7ee;
    }
/*.btn.delete {
    border-color: #8a0000;
    color: #000000;
    background-color: #8a0000;
}*/
    .btn.delete:hover {
        background-color: #ed1c28;
        color: #e3e7ee;
    }


#enterName {
    font-family: 'Oswald', sans-serif;
    height: 40px;
    display: inline;
    margin-left: 10px;
    float: right;
}

#editingName {
    /*background-color: #000000;*/
    color: #ed1c28;
    font-size: 14pt;
    padding-left: 20px;
    font-family: 'Oswald', sans-serif;
}

.badge {
    background-color: #7e7e7e;
    color: #000000;
    margin-bottom: 6px;
}

    .badge:hover {
        cursor: help;
    }

#areaInfo {
    border-radius: 4px;
    margin: 30px 10% 0 10%;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    background-color: #c4c4c4;
    color: #1e1e1e;
    padding: 20px;
}

a.list-group-item.areas {
    font-size: 12pt;
    background-color: #c4c4c4;
    color: #1e1e1e;
    border:none;
    border-top: 1px solid black;
    width: 100%;
}
a.list-group-item.areas:last-child {
    border-bottom: none;
}
    a.list-group-item.areas:first-child {
        border-top: none;
    }

/*a.list-group-item.areas:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #7e7e7e;
}*/

.card-body.companies {
    border-radius: 4px;
    margin: 30px 10% 0 10%;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    background-color: #c4c4c4;
    color: #1e1e1e;
    padding: 20px;
    height: 30%;
}

a.list-group-item.companies {
    font-size: 18pt;
    border: none;
    border-left: 10px solid #ed1c28;
    margin-top: 10px;
    background-color: #c4c4c4;
    margin-bottom: 10px;
    width: 100%;
}


/*.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}*/

a.list-group-item:hover,
a.list-group-item:active {
    background-color: #7e7e7e;
    color: #ffffff;
    cursor: pointer;
}

.companies {
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    color: #111;
    font-size: 18pt;
    text-align: center;
    word-wrap: normal;
    transition: 0.3s;
    height: 100%;
    width: 500px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #626262;
    border-radius: 4px;
    padding: 10px;
    background-color: #e3e7ee;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

    .companies:hover {
        text-decoration: none;
        color: #111;
        cursor: pointer;
        background-color: #bbc2c1;
    }

.flex-card {
    display: flex;
    justify-content: space-around;
    /* padding: 5%; */
    flex-wrap: wrap;
    width: 90%;
    padding: 30px;
    margin: 40px auto auto auto;
    border-radius: 4px;
    background-color: #e3e7ee;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

/*.container:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 8;
    text-decoration: none;
    color: #e3e7ee;
}*/

/*.container {
    text-align: center;
    word-wrap: normal;
    /* background: rgb(119, 119, 119); */
    /* box-shadow: 0 1px 16px 0 rgba(0,0,0,0.5); */
    transition: 0.3s;
    height: 100%;
    width: 500px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #626262;
    border-radius: 4px;
    padding: 10px;
    background-color: #e3e7ee;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}*/

@media screen and (max-width: 650px) {
    a.list-group-item,
    a.list-group-item.areas {
        margin-left: 5px;
        padding-left: 5px;
    }
}

#logInContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map {
    width: 100%;
    height: 100%;
}
#logIn {
    background: #f9ca1d;
    color: #0b0d0e;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#logIn:hover,
#logOut:hover {
    background: #ed1c28;
    color: #0b0d0e;
}

label {
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

#alerts {
    color: #ed1c28;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #1e1e1e;
    height: 70px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
}

/*#imgNav {
    width: 87px;
    height: 100px;
}*/

a.navbar-brand {
    padding-top: 30px;
}
.navbar-brand:hover{
    color: #f9ca1d;
}

a.nav-item nav-link {
    padding-top: 40px;
}

.nav-item:hover {
    color: #ed1c28;
}

/*#navLogo {
    height: 60px;
    width: 90px;
    display: inline-block;
    margin: 0 auto 0 auto;
}*/

/*footer {
    padding: 20px 0 0 10px;
    z-index: 10000;
}*/

.open-nav {
    font-size: 30px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        /*padding: 50px 20px 0px 20px;*/
        text-decoration: none;
        font-size: 25px;
        color: #7e7e7e;
        display: block;
        transition: 0.3s;
        font-family: 'Josefin Sans', sans-serif;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
